<footer>
    <div class=" footer  border-top">
   <div class="container mt-3 mb-3">
    <div class="row">
       <div class="col-lg-4 col-sm-6 mb-3 border-top  f-info">
         <h4>Borrow Basket</h4>
         <p>App to rent and borrow</p>
       </div>
       <div class="col-lg-4 col-sm-6 mb-3 border-top f-info">
         <h6>Socials</h6>
         <a href="https://www.linkedin.com/in/zainab-perween-37a0312aa"><i class="fa-brands fa-linkedin-in"></i> Linkedin</a><br>
         <a href="https://github.com/zennie0"> <i class="fa-brands fa-github"></i> Github</a><br>
         <a href="#"><i class="fa-brands fa-facebook-f"></i> Facebook</a><br>
         <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a><br>
       </div>
       <br>
       <div class="col-lg-4 col-sm-6 mb-3 border-top f-info">
         <h6>About</h6>
         <a href="#">About us</a><br>
         <a href="#">careers</a><br>
         <a href="#">contact</a><br>
         <a href="#">Owner</a><br>

       </div>
       <br>
       <div class="col-lg-4 col-sm-6 mb-3 border-top f-info">
         <h6>About Owner</h6>
         <p><b>Skills</b></p>
         <p>java | javaScript | html | css | react |
            <br> mongodb | mern stack | full stack | boostrap</p>
       </div>
    </div>
   </div>
    </div>
</footer>