<%- layout("layouts/boilerplate")%>
<body>
  <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="validationtitle" class="form-label">title</label>
          <br />
          <input
            type="text"
            id="validationtitle"
            class="form-control is-invalid"
            name="listing[title]"
            placeholder="title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">description</label>
          <br />
          <textarea
            class="form-control is-invalid"
            name="listing[description]"
            id="description"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">country</label>
          <br />
          <input
            class="form-control is-invalid"
            type="text"
            name="listing[country]"
            placeholder="country"
            required
          />
          <br /><br /><br />
        </div>
      
        <div class="mb-3">
          <label for="image" class="form-label">Upload image</label><br />
          <input
            class="form-control is-invalid"
            type="file"
            name="listing[image]"
            
            required
          />
          <br /><br /><br />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">location</label><br />
          <input
            class="form-control is-invalid"
            type="text"
            name="listing[location]"
            placeholder="location"
            required
          />
          <br /><br /><br />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">price</label><br />
          <input
            class="form-control is-invalid"
            type="number"
            name="listing[price]"
            placeholder="price"
            required
          />
          <br /><br /><br />
        </div>
        <button class="btn btn-primary">submit</button>
      </div>
    </div>
  </form>
</body>
