<% layout("layouts/boilerplate")%>
<div class="firsst-page">
<div class="card m-5">
    <div class="card-title">
        <h2>Get started with BorrowBasket</h2>
        
    </div>
    <a href="/signup"><button class="m-3 btn btn-primary">Signup</button></a>
    <a href="/login"><button class="m-3 btn btn-primary">Login</button></a>

</div>
</div>